body {
    padding: 0px;
    margin: 0px;
    background-color: aqua
}

header {
    padding: 10px;
    background-color: blueviolet;
    color: aliceblue;
    font-weight: bold;
    font-size: 30px;
    width: 100%;
}